* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
}


/* header */

header {
    width: 100%;
    height: 50px;
}


/* main */

main {
    width: 80%;
    height: 80vh;
    display: flex;
    margin: 0 auto;
    background-color: #fbfafd;
    margin-top: 30px;
    flex-direction: column;
}

.title-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
    font-size: 14px;
}

.section-div {
    display: flex;
    width: 75%;
    height: 70%;
    margin: 0 auto;
    flex-direction: column;
    font-size: 15px;
    margin-top: 25px;
}

.section-div .name-of-user {
    width: 100%;
    height: 7%;
    font-size: 19px;
}

.section-div .input-name-user {
    width: 100%;
    height: 7%;
    margin-top: 5px;
}

.section-div .input-name-user input {
    width: 200px;
    height: 90%;
}

.section-div .account-correo-electronico {
    width: 100%;
    height: 7%;
    font-size: 19px;
    margin-top: 10px;
}

.section-div .input-correo-electronico {
    width: 100%;
    height: 7%;
    margin-top: 5px;
}

.section-div .input-correo-electronico input {
    width: 200px;
    height: 90%;
}

.section-div .password {
    width: 100%;
    height: 7%;
    font-size: 19px;
    margin-top: 10px;
}

.section-div .input-password {
    width: 100%;
    height: 7%;
    margin-top: 5px;
}

.section-div .input-password input {
    width: 200px;
    height: 90%;
}

.section-div .confirm--password {
    width: 100%;
    height: 7%;
    font-size: 19px;
    margin-top: 10px;
}

.section-div .input-confirm-to--password {
    width: 100%;
    height: 7%;
    margin-top: 5px;
}

.section-div .input-confirm-to--password input {
    width: 200px;
    height: 90%;
}

.section-div .iniciar-sesion-link {
    width: 100%;
    height: 7%;
    font-size: 12px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.section-div .iniciar-sesion-link p a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-div .iniciar-sesion-link p a:hover {
    color: #ffffff;
    font-style: none;
}

.section-div .iniciar-sesion-link p a {
    color: #3d74da;
    margin-top: 5px;
    font-size: 14px;
}

.section-div .iniciar-sesion-link p {
    font-size: 15px;
}