/* header */
header {
    height: 4.5rem;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-principal--imagen {
    width: 15rem;
    height: 80%;
    background-color: #25e45f;
    margin-left: 15px;
}

.links-and-main .inicio-and-create {
    display: flex;
    width: 116px;
    margin-right: 20px;
}

.links-and-main .search-text {
    width: 200px;
    height: 25px;
    margin-right: 45px;
}

.links-and-main {
    display: flex;
}

.links-and-main ul {
    margin-left: 15px;
    font-size: 15px;
    list-style-type: none;
}

.links-and-main ul li a {
    text-decoration: none;
    color: #000000;
}

.links-and-main ul li a:hover {
    color: #ffffff;
}

.links-and-main .final {
    margin-right: 15px;
    font-size: 15px;
    margin-left: 15px;
}

.details-menu {
    margin-right: 20px;
}


/* main */
main {
    width: 100%;
    height: 39.4rem;
    background-color: #9f8e;
}



/* footer */
footer {
    width: 100%;
    height: 4.5rem;
    background-color: #5f434f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    margin-left: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    height: 60%;
}

.link-of-the-files {
    display: flex;
    margin-right: 80px;
}

.link-of-the-files p {
    font-size: 15px;
    margin-right: 25px;
}

.link-of-the-files p a {
    text-decoration: none;
    color: #f0f0f0;
}

.link-of-the-files p a:hover {
    color: #000000;
}