/* header */

header {
    background-color: #fff5f45f;
    width: 100%;
    height: 4.5rem;
}

.logo-principal--imagen {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: #e45f52;
}

.links-and-main {
    display: flex;
    align-items: center;
    width: 70%;
    height: 80%;
    justify-content: space-evenly;
}

.links-and-main .inicio-and-create {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
}

.links-and-main .inicio-and-create ul li{
    font-size: 12px;
}

.links-and-main .details-menu {
    font-size: 12px;
}

.links-and-main .content-text-search{
    width: 45%;
    height: 50%;
    display: flex;
    align-items: center;
}

.links-and-main .content-text-search .search-text {
    width: 100%;
    height: 25px;
    
}

/* main */
main {
    background-color: #6f45e4;
    height: 81vh;
    width: 100%;
}





/* footer */
footer {
    width: 100%;
    height: 7.2vh;
    background-color: #954e65f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 15px;
}

.link-to-the-files  p {
    font-size: 12px;
}